.card {
    width: 75%;
    margin-left: 20%;
    margin-top: 150px;
}

.card .tiao {
    height: 80px;
    line-height: 80px;
    color: white;
    background-color: #4390dd;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
}

.smallBox {
    width: 100%;
    background-color: aliceblue;
    box-shadow: -0.5rem 0.3rem 0.5rem rgb(167 162 162);
}

.login-Info p {
    height: 0.2rem;
}

.login-info-msg {
    width: 50%;
    margin: 0 auto;
    display: flex;
    padding-left: 2%;
    box-sizing: border-box;
    padding-top: 35px;
}

.login-info-msg input {
    height: 35px;
    width: 50%;
    outline: none;
    background-color: transparent;
    border: 3px solid #F1F1F1;
    border-radius: 5px;
}

.login-info-msg span {
    width: 100px;
    height: 38px;
    line-height: 40px;
    margin-left: 100px;
}

.yes {
    margin: 0 auto;
    display: flex;
    width: 40%;
}

.login-Ban {
    display: flex;
    width: 30%;
    margin: 0 auto;
    margin-bottom: 25px;
}

.login-Ban span {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.login-Ban span img {
    width: 100%;
}

.login-Ban p {
    color: white;
}

.login-Bot .login_btn {
    width: 150px;
    height: 40px;
    outline: none;
    background-color: #089bdf;
    border: none;
    color: white;
    border-radius: 5px;
}

.xym4 {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 42%;
    left: 80%;
}

.xym4 img {
    width: 100%;
}

.login_btn {
    margin: 35px auto;
    background-color: #4390dd;
    color: white;
    border-radius: 5px;
}

h1,
h2 {
    font-weight: normal;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

a {
    color: #42b983;
}

.forget {
    display: block;
    margin-top: -30px;
    margin-left: 230px;
    color: white;
    cursor: pointer;
}

.forget:hover {
    color: #409eff;
}

input::placeholder {
    color: darkseagreen;
}